* {
    margin: 0;
    padding: 0;
  }

  #app {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: relative;
  }

  .img {
    width: 400px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .img #cai {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/cai.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }

  .img #hei {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../assets/hei.svg");
    background-repeat: no-repeat;
  }